config ZMK_BLE
	default y

config ZMK_USB
	default y

if ESPER_ERGOX_DONGLE || ESPER_ERGOX_NORM_LEFT || ESPER_ERGOX_NORM_RIGHT

config ZMK_KEYBOARD_NAME
	default "Esper ErgoX"

endif

if ESPER_ERGOX_NORM_LEFT || ESPER_ERGOX_NORM_RIGHT

config ZMK_SPLIT
	default y

endif



if ESPER_ERGOX_DONGLE

config ZMK_SPLIT
	default y

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif
